In [6]:
import glob
import pandas as pd

In [3]:
# Later define as config variable for financial data
financials = ['# Cash&Carry Retail Stores','Revenues ($K)','COGS  ($K)','Gross Margins  ($K)','Logistics  ($K)',
                    'Net Margins  ($K)','Net Indirect Expenses  ($K)','    Salaries  ($K)','    Overheads  ($K)','EBITDA  ($K)',
                    'Change in working capital  ($K)','Finance Costs  ($K)','Net Flow (Burn)  ($K)','month']

In [12]:
def clean_data(df):
    '''
        This function drops unwanted columns, null value rows and 
        Transposes the df for further processing, further
        Creates a month column 
    '''
    
    df.drop(labels=['KPI TYPE','REMARKS / COMMENTS'],axis=1,inplace=True)
    df.dropna(how='all',inplace=True)
    dfT = df.T
    dfT.columns = dfT.iloc[0]
    dfT = dfT.iloc[1:]
    dfT.reset_index(inplace=True)
    dfT['month'] = [i.split(' ')[0] for i in dfT['index']]
    dfT.drop(columns='index',inplace=True)
    dfT.reset_index(drop=True,inplace=True)
    return dfT

In [2]:
path = "data\MIS 2018"

filename = glob.glob(path + "\*.xlsx")
[i for i in filename]

['data\\MIS 2018\\MIS - August 2018.xlsx',
 'data\\MIS 2018\\MIS - December 2018.xlsx',
 'data\\MIS 2018\\MIS - October 2018.xlsx',
 'data\\MIS 2018\\MIS - September 2018.xlsx']

In [17]:
dflong.columns

Index(['# Cash&Carry Retail Stores', 'Revenues ($K)', 'COGS  ($K)',
       'Gross Margins  ($K)', 'Logistics  ($K)', 'Net Margins  ($K)',
       'Net Indirect Expenses  ($K)', '    Salaries  ($K)',
       '    Overheads  ($K)', 'EBITDA  ($K)',
       'Change in working capital  ($K)', 'Finance Costs  ($K)',
       'Net Flow (Burn)  ($K)', 'month'],
      dtype='object')

In [20]:
dflong = pd.DataFrame(columns=financials)

for file in filename[:4]:
   print("Reading file = ",file)
   df = pd.read_excel(file)
   # Remove unwanted columns and transpose data
   dfT = clean_data(df)
   # Filter Finance Data
   dfT = dfT.loc[:,financials]
   print(dfT.columns)
   dflong = pd.concat([dflong,dfT],ignore_index=True,axis=0)

Reading file =  data\MIS 2018\MIS - August 2018.xlsx
Index(['# Cash&Carry Retail Stores', 'Revenues ($K)', 'COGS  ($K)',
       'Gross Margins  ($K)', 'Logistics  ($K)', 'Net Margins  ($K)',
       'Net Indirect Expenses  ($K)', '    Salaries  ($K)',
       '    Overheads  ($K)', 'EBITDA  ($K)',
       'Change in working capital  ($K)', 'Finance Costs  ($K)',
       'Net Flow (Burn)  ($K)', 'month'],
      dtype='object', name='PARAMETER')
Reading file =  data\MIS 2018\MIS - December 2018.xlsx
Index(['# Cash&Carry Retail Stores', 'Revenues ($K)', 'COGS  ($K)',
       'Gross Margins  ($K)', 'Logistics  ($K)', 'Net Margins  ($K)',
       'Net Indirect Expenses  ($K)', '    Salaries  ($K)',
       '    Overheads  ($K)', 'EBITDA  ($K)',
       'Change in working capital  ($K)', 'Finance Costs  ($K)',
       'Net Flow (Burn)  ($K)', 'month'],
      dtype='object', name='PARAMETER')
Reading file =  data\MIS 2018\MIS - October 2018.xlsx
Index(['# Cash&Carry Retail Stores', 'Revenues ($K)', 'COGS  ($K)',
       'Gross Margins  ($K)', 'Logistics  ($K)', 'Net Margins  ($K)',
       'Net Indirect Expenses  ($K)', '    Salaries  ($K)',
       '    Overheads  ($K)', 'EBITDA  ($K)',
       'Change in working capital  ($K)', 'Finance Costs  ($K)',
       'Net Flow (Burn)  ($K)', 'month'],
      dtype='object', name='PARAMETER')
Reading file =  data\MIS 2018\MIS - September 2018.xlsx
Index(['# Cash&Carry Retail Stores', 'Revenues ($K)', 'COGS  ($K)',
       'Gross Margins  ($K)', 'Logistics  ($K)', 'Net Margins  ($K)',
       'Net Indirect Expenses  ($K)', '    Salaries  ($K)',
       '    Overheads  ($K)', 'EBITDA  ($K)',
       'Change in working capital  ($K)', 'Finance Costs  ($K)',
       'Net Flow (Burn)  ($K)', 'month'],
      dtype='object', name='PARAMETER')

In [21]:
dflong

,# Cash&Carry Retail Stores,Revenues ($K),COGS ($K),Gross Margins ($K),Logistics ($K),Net Margins ($K),Net Indirect Expenses ($K),Salaries ($K),Overheads ($K),EBITDA ($K),Change in working capital ($K),Finance Costs ($K),Net Flow (Burn) ($K),month
0,53,10.993646,-5.683662,5.309985,-3.190538,2.119446,-43.025662,-21.544554,-21.481108,-40.906215,-0.336508,-2.321031,-43.563754,JULY
1,61,11.084431,-5.512785,5.571646,-3.210523,2.361123,-49.070123,-25.009231,-24.060892,-46.709,-1.584662,-2.321031,-50.614692,AUGUST
2,81,14.486538,-6.432023,8.054515,-3.852628,4.201888,-52.608585,-28.547692,-24.060892,-48.406697,0.898077,-2.321031,-49.829651,SEPTEMBER
3,108,20.792985,-12.030154,8.762831,-6.2748,2.488031,-54.949415,-30.156385,-24.793031,-52.461385,-4.373462,-2.321031,-59.155877,NOVEMBER\n(BASELINE
4,127,30.336169,-21.256138,9.080031,-10.603338,-1.523308,-66.174,-35.519631,-30.654369,-67.697308,-9.957831,-2.321031,-79.976169,DECEMBER\n(MIS
5,150,33.882353,-23.867511,10.014842,-11.080908,-1.066066,-62.327846,-35.519631,-26.808215,-63.393912,-3.546184,-2.321031,-69.261127,JANUARY\n(TARGET
6,72,14.8718,-7.323431,7.548369,-3.031538,4.516831,-63.719046,-30.887662,-32.831385,-59.202215,-3.4084,-2.321031,-64.931646,SEPTEMBER\n
7,88,19.900877,-11.068354,8.832523,-5.248508,3.584015,-58.779492,-30.365769,-28.413723,-55.195477,0.1416,-2.321031,-57.374908,OCTOBER\n(MIS
8,105,24.036923,-13.02,11.016923,-5.773358,5.243565,-64.4718,-32.211923,-32.259877,-59.228235,-1.729231,-2.321031,-63.278497,NOVEMBER
9,61,11.084431,-5.512785,5.571646,-3.210523,2.361123,-49.070123,-25.009231,-24.060892,-46.709,-1.584662,-2.321031,-50.614692,AUGUST
10,72,14.8718,-7.323431,7.548369,-3.031538,4.516831,-63.719046,-30.887662,-32.831385,-59.202215,-3.4084,-2.321031,-64.931646,SEPTEMBER
11,100,19.673077,-9.836538,9.836538,-3.637846,6.198692,-55.257508,-29.656892,-25.600615,-49.058815,-1.211538,-2.321031,-52.591385,OCTOBER